@font-face {
    font-family: 'JBMono';
    src: url("JetBrainsMono-Regular.ttf");
}
.sectionLeft{
    float:left;
    width:40%;
}
.sectionRight{
    float:right;
    width:50%;
}
.buildings{
    float:none;
    text-align: center;
    font-size:15px;
    width:95%;
    height:50px;
    border-radius: 10px;
    display: block;
    margin:auto;
    margin-bottom: 8px;
    font-family:"JBMono";

}
.buildingsContainer{
    background-color: darkgray;
    border-radius:10px;
    width:67%;
    float:right;
}
.resourcesContainer{
    background-color: darkgray;
    width:31%;
    border-radius: 10px;
    font-size:16px;
    text-align:left;
    float:left;
    margin:auto;
    font-family:"JBMono";
}
#sellButton{
    padding:6px;
    border-radius: 10px;
}
#farm{
    margin-top:8px;
}
.resources{
    margin-top:8px;
    margin-left:8px;
}