@font-face {
    font-family: 'JBMono';
    src: url("JetBrainsMono-Regular.ttf");
}
.sectionLeft{
    float:left;
    width:30%;
}
.sectionMiddle{
    float:left;
    width:34.7%;
    margin-left:0.3%;
}
.sectionRight{
    float:left;
    width:34.7%;
    margin-left:0.3%;
}
.buildings{
    float:left;
    text-align: center;
    font-size:1.6vmin;
    text-wrap:auto;
    width:70%;
    height:5vmin;
    border-radius: 10px;
    display: block;
    margin-left:8px;
    margin-bottom: 8px;
    font-family:"JBMono";

}
.buildingsContainer{
    background-color: darkgray;
    border-radius:10px;
    width:55%;
    margin-left:1%;
    float:left;
    max-height:100%;
}
.resourcesContainer{
    background-color: darkgray;
    width:44%;
    border-radius: 10px;
    font-size:1.6vmin;
    text-wrap:auto;
    text-align:left;
    max-height:100%;
    float:left;
    margin:auto;
    font-family:"JBMono";
}
#sellButton{
    padding:6px;
    font-size:1.3vmin;
    text-wrap:auto;
    margin-top:3%;
    border-radius: 10px;
    font-family:"JBMono";
}
#farm{
    margin-top:8px;
}
.resources {
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
}

.workersContainer{
    background-color: darkgray;
    border-radius:10px;
    width:50%;
    float:left;
    font-size:1.6vmin;
    text-wrap:auto;
    text-align:left;
    font-family:"JBMono";

}
.workers {
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom:8px;
}
#workerButton{
    font-family:"JBMono";
    padding:6px;
    border-radius: 10px;
    font-size:1.3vmin;
    text-wrap:auto;
}
.workerChangeButton{
    margin-left:0.2vmin;
    margin-top: 2vmin;
    margin-bottom:1.4vmin;
    font-size:1.6vmin;
    font-family:"JBMono";
    border-radius: 10px;
}
.workerAssigned{
    font-weight:bold;
    font-family:"JBMono";
    font-size:1.6vmin;
}
